* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
  padding: 40px;
}

.aligned-row {
  display: flex;
  align-items: center;
}

.mb-1x {
  margin-bottom: 10px;
}

.color-orange {
  color: #ff6b08;
}

.wrapper {
  background-color: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  color: #fff;
  padding: 40px 0;
}

.my-photo {
  width: 370px;
}

.about-me-container {
  padding: 110px 90px;
}

.main-container {
  padding: 60px 40px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
  margin-bottom: 60px;
}

.sidebar-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

.contacts-captions {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  margin-right: 10px;
}

.contacts-link {
  opacity: 0.5;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.sidebar-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 16px;
}

.sidebar-list-item {
  color: #fff;
}

.about-me-container .about-me-compact {
  margin-bottom: 64px;
}

.about-me-container .about-me-compact h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 24px;
}

.about-me-container .about-me-compact h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  margin-bottom: 24px;
}

.about-me-container .about-me-compact p {
  max-width: 413px;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.about-me-container h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 12px;
}

.projects-container ol {
  margin-left: 16px;
}

.projects-container {
  margin-bottom: 50px;
}

.projects-container ol li {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.projects-container ol li a {
  color: #595959;
  font-weight: 400;
  text-decoration: none;
}

.projects-container .dots,
.projects-container .skills {
  font-weight: 400;
  color: #595959;
}

.work-experience,
.education {
  margin-bottom: 55px;
}

.work-experience h4,
.education h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 14px;
}

.education h5 {
  margin-bottom: 14px;
}

.work-experience-item,
.education-item {
  margin-bottom: 24px;
}

.work-experience-additional-info,
.education-additional-info {
  margin-bottom: 8px;
}

.work-experience-date,
.work-experience-country,
.education-date,
.education-country {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
}

.work-experience-item ul {
  max-width: 535px;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 16px;
}

@media (max-width: 900px) {
  .projects-container .dots {
    display: none;
  }
}

@media (max-width: 850px) {
  .wrapper {
    flex-direction: column;
  }
  .sidebar1 {
    display: flex;
  }
}

@media (max-width: 850px) and (min-width: 700px) {
  .main-container {
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  .sidebar1 {
    flex-direction: column;
  }
}

@media (max-width: 470px) {
  .my-photo {
    width: 100%;
  }
  .about-me-container .about-me-compact h1 {
    font-size: 35px;
    line-height: 50px;
  }
}
