* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
  padding: 20px;
}

.wrapper {
  background-color: #fff;
  display: flex;
}

.sidebar {
  background: #1e2939;
  color: #fff;
  padding: 40px 0;
}

.my-photo {
  width: 370px;
}

.about-me-container {
  padding: 110px 90px;
}

.main-container {
  padding: 60px 40px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
  margin-bottom: 60px;
}

.sidebar-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

.contacts-captions {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.42px;
  margin-right: 10px;
}

.contacts-link {
  opacity: 0.5;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.sidebar-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 16px;
  color: #ff6b08;
}

.sidebar-list-item {
  color: #fff;
}
